body {
	display: flex;
	min-height: calc( 100vh - 16px );
	flex-direction: column;
  }
  
  body > main {
	display: flex;
	flex: 1;
  }

  .content {
	flex: 1;
  }
  
  .menu {
    flex: 0 0 175px;
    padding: 8px;
  }
  

.content .meta {
    font-size: 11px;
    color: #999;
    display: block;
    margin-bottom: 16px;
}

:root {
    background: black;
}

body {
    color: white;
    width: 780px;
    margin: 0 auto;
    background: url(/client/images/background.jpg);
    font-family: sans-serif;
    font-size: 12px;
}

header {
    background: url(/client/images/baner.jpg);
    height: 187px;
    padding: 2em 2.7em;
    font-size: 12px;
    color: #F0F0F0;
}

body > main {
    border-style: solid;
    border-image-source: url(/client/images/runyramka.jpg);
    border-image-repeat: repeat;
    border-width: 19px;
    border-image-slice: 19;
    border-top: none;
    border-bottom: none;
}

* {
    box-sizing: border-box;
}

footer {
    border-style: solid;
    border-image-source: url(/client/images/runykoniec.jpg);
    border-image-repeat: repeat;
    border-width: 19px;
    border-image-slice: 19;
    border-top: none;
}

.menu h2 {
    font-size: 11px;
    background: #333 url(/client/images/menu-header.jpg) 100% 0 no-repeat;
    padding: 9px;
	padding-top: 5px;
	margin-top: 3px;
}

.menu h2:not(:first-child) {
    margin-top: 20px;
}

.menu ul {
    margin: 0;
    margin-left: 9px;
    padding: 0;
    list-style-type: none;
    font-size: 10px;
}

.menu a {
    color: #888888;
    text-decoration: none;
    line-height: 14px;
}

.menu a:hover {
    color: white;
}

header a {
    color: #888888;
    text-decoration: none;
}

.content h1, 
.content h2, 
.content h3 {
    color: #a9927e;
    font-size: 12px;
    margin-top: 0;
    text-transform: uppercase;
}

.content {
    margin-left: 16px;
    margin-right: 12px;
    padding-top: 16px;
}

.content table {
    background: black;
    border-collapse: collapse;
    margin-bottom: 12px;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: #888888;
}

a:hover {
    color: white;
}

.content td, .content th {
    border: 2px solid #5b2402;
    padding: 2px 5px;
    text-align: center;
}

.content td:first-child {
    width: 162px;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.gallery-album h1 {
    font-size: 18px;
}

.gallery-album img {
    width: 162px;
    height: 132px;
    object-fit: contain;
    background: black;
    border: 0 solid black;
    border-width: 10px 14px;
    margin: 3px;
}

.post {
    margin: 32px 0;
}

.home .post h1 {
    margin-bottom: 4px;
}

.home .post .meta {
    margin-bottom: 0px;
}

.menu .friend-buttons {
    text-align: center;
}

.menu .friend-buttons img {
    width: 90px;
}

.pagination {
    text-align: center;
    margin: 1em;
    color: #a9927e;
}