		<h2>Przyjaciele</h2>
		<ul class="friend-buttons">
			<li><a href="https://themodders.org"><img src="/client/images/friend-buttons/themodders.png"></a></li>
			<li><a href="https://poziomkaz.pl"><img src="/client/images/friend-buttons/poziomka.gif"></a></li>
			<li><a href="https://czaszaplaty.themodders.org"><img src="/client/images/friend-buttons/czaszaplaty.png"></a></li>
			<li><a href="https://crpg.iml.pl"><img src="/client/images/friend-buttons/insimilon.gif"></a></li>
			<li><a href="http://zlotewrota.org"><img src="/client/images/friend-buttons/zlote-wrota.png"></a></li>
			<li><a href="https://dziejekhorinis.org"><img src="/client/images/friend-buttons/dzieje-khorinis.png"></a></li>
		</ul>