{%

for categoryPage in site.pages %}{%
	unless categoryPage.layout != "mod-category"
%}		<h2><a href="{{ categoryPage.url }}">{{ categoryPage.title }}</a></h2>
		<ul>
{%
		assign categoryUrlLength = categoryPage.url | size %}{%
		for listPage in site.pages %}{%
			assign urlPrefix = listPage.url | slice: 0, categoryUrlLength %}{%
			unless urlPrefix != categoryPage.url or listPage.layout != "mod-list"
		%}		<li><a href="{{ listPage.url }}">{{ listPage.title }}</a></li>		
{%
			endunless %}{%
		endfor %}
		</ul>
{%
	endunless %}{%
endfor %}
