{% include before-content.html %}

<h1>{{ page.title }}</h1>
<span class="meta">Napisał: {{ page.author }}, {{ page.time }}</span>

{{ page.content | markdownify }}

{%
assign urlLength = page.url | size %}{%

for otherPage in site.pages %}{%
	assign urlPrefix = otherPage.url | slice: 0, urlLength %}{%
	unless urlPrefix != page.url or
			otherPage.layout != "mod-list" or
			page.url == otherPage.url
%}		<h2><a href="{{ otherPage.url }}">{{ otherPage.title }}</a></h2>
		{{ otherPage.content }}

{%
	endunless %}{%
endfor %}

{% include after-content.html %}